<h1 class="mt-5">Selectores anidados</h1>
<hr />

<form [formGroup]="myForm" (ngSubmit)="guardar()">
  <div class="row">
    <div class="col-12">
      <label for="" class="form-label">Continente</label>
      <select class="form-control" formControlName="region">
        <option value="">-- Selecione el continente --</option>
        <option [value]="region | lowercase" *ngFor="let region of regiones">{{region}}</option>
      </select>
    </div>

    <div class="col-12" *ngIf="paises.length > 0">
      <label for="" class="form-label">Paises</label>
      <select class="form-control" formControlName="pais">
        <option value="">-- Selecione el continente --</option>
        <option [value]="pais.cca3" *ngFor="let pais of paises">{{ pais.name?.common }}</option>
      </select>
    </div>

    <div class="col-12" *ngIf="fronteras.length > 0">
      <label for="" class="form-label">Fronteras</label>
      <select class="form-control" formControlName="fronteras">
        <option value="">-- Selecione la frontera --</option>
        <option [value]="frontera" *ngFor="let frontera of fronteras">{{ frontera.name.common}}</option>
      </select>
    </div>

    <div class="col-12">
      <button type="submit" class="mt-2 btn btn-outline-success float-end">Guardar</button>
    </div>
  </div>
</form>
